/*-----------------------------------------------
	Base
-----------------------------------------------*/
body {
	font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	word-break: break-all;
}
// ie11
#{unquote('_:-ms-input-placeholder, :root')} body {
	font-family: "メイリオ", Meiryo, sans-serif;
}
img { 
	max-width: 100%;
	vertical-align: bottom;
}
a {
	text-decoration: none;
}