// Replace letters
@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@if $index {
			@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}
//
// Encode symbols ( IE 11 fix )
@function url-encode($string) {
	$map: (
			"<": "%3C",
			">": "%3E",
			'"': "%22",
			"#": "%23",
	);
	$new: $string;
	@each $search, $replace in $map {
			$new: str-replace($new, $search, $replace);
	}
	@return $new;
}

// Format the SVG as a URL
@function inline-svg($string) {
	@return url('data:image/svg+xml,#{url-encode($string)}');
}

@function get-svg-icon($name: null, $fill: null, $stroke: null){
	$svg: null !default;

	// 右向きアロー（小）
	@if $name == arrow-r01{
		@if $fill == null { $fill: #aaa; }
		$svg: '<svg xmlns="http://www.w3.org/2000/svg" width="7.67" height="12.93" viewBox="0 0 7.67 12.93"><path d="M1009.01,1643.83l7-6.51-1.01-.91-7.01,6.51Zm7-6.51-7-6.51-1.02.92,7.01,6.51Z" fill="#{$fill}" transform="translate(-1008 -1630.81)"/></svg>';
	}

	// 左向きアロー（小）
	@if $name == arrow-l01{
		@if $fill == null { $fill: #aaa; }
		$svg: '<svg xmlns="http://www.w3.org/2000/svg" width="7.67" height="12.93" viewBox="0 0 7.67 12.93"><path class="st0" d="M7,0L0,6.5l1,0.9l7-6.5L7,0z M0,6.5L7,13l1-0.9L1,5.6L0,6.5z" fill="#{$fill}"/></svg>';
	}

	// 下向きアロー
	@if $name == arrow-b01{
		@if $fill == null { $fill: #aaa; }
		$svg: '<svg xmlns="http://www.w3.org/2000/svg" width="31" height="19" viewBox="0 0 31 19"><path id="icon_bottom.svg" class="cls-1" d="M710.011,16963.4l-15.5,16.6-2.186-2.4,15.508-16.6Zm-15.5,16.6L679,16963.4l2.185-2.4,15.5,16.6Z" fill="#{$fill}" transform="translate(-679 -16961)"/></svg>';
	}

	// 上向きアロー
	@if $name == arrow-t01{
		@if $fill == null { $fill: #aaa; }
		$svg: '<svg id="3adb6ad4-2b91-44a5-bfdf-1e529d4d9616" xmlns="http://www.w3.org/2000/svg" width="31.01" height="19" viewBox="0 0 31.01 19"><title>icon_bottom</title><polygon points="31.01 16.6 15.5 0 0 16.6 2.18 19 15.51 4.73 28.83 19 31.01 16.6" fill="#{$fill}"/></svg>';
	}

	// キービジュアル用 右向きアロー
	@if $name == kv-arrow-r01{
		@if $fill == null { $fill: #23348a; }
		$svg: '<svg xmlns="http://www.w3.org/2000/svg" width="18.72" height="31.188" viewBox="0 0 18.72 31.188"><path id="_" data-name="&gt;" class="cls-1" d="M1343.22,352.239l16.35,15.6-2.36,2.2-16.35-15.6Zm16.35,15.6-16.35,15.6-2.36-2.2,16.35-15.6Z" fill="#{$fill}" transform="translate(-1340.84 -352.25)"/></svg>';
	}

	// キービジュアル用 左向きアロー
	@if $name == kv-arrow-l01{
		@if $fill == null { $fill: #f1f1f1; }
		$svg: '<svg xmlns="http://www.w3.org/2000/svg" width="18.719" height="31.188" viewBox="0 0 18.719 31.188"><path id="_" data-name="&lt;" class="cls-1" d="M55.78,352.239l-16.352,15.6,2.365,2.2,16.352-15.6Zm-16.352,15.6,16.352,15.6,2.364-2.2-16.352-15.6Z" fill="#{$fill}" transform="translate(-39.438 -352.25)"/></svg>';
	}

	// 外部リンク用アイコン
	@if $name == blank-01{
		@if $fill == null { $fill: #aaa; }
		$svg: '<svg xmlns="http://www.w3.org/2000/svg" width="221" height="152" viewBox="0 0 221 152"><title>blank</title><polyline points="221 0 28 0 28 21 197 21 197 130 221 130" fill="#{$fill}" fill-rule="evenodd"/><path d="M0,37V152H178V37Zm156,99H23V54H156Z" fill="#{$fill}" fill-rule="evenodd"/></svg>';
	}

	// グローバルアイコン
	@if $name == global{
		@if $fill == null { $fill: #111; }
		$svg: '<svg version="1.1" id="global-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"	 y="0px" viewBox="0 0 24 24" style="fill:#{$fill};enable-background:new 0 0 24 24;" xml:space="preserve" width="24" height="24"><title>global-logo</title><path d="M24,12c0-2.4-0.7-4.8-2.1-6.8c-0.2-0.3-0.4-0.6-0.7-0.9C17-0.8,9.4-1.5,4.3,2.8c-0.6,0.5-1.1,1-1.6,1.6	C2.5,4.7,2.3,5,2.1,5.3c-2.8,4.1-2.7,9.4,0.1,13.5c0.2,0.3,0.4,0.6,0.7,0.9c4.2,5.1,11.8,5.8,16.9,1.5c0.6-0.5,1.1-1,1.6-1.6	c0.2-0.3,0.5-0.6,0.7-0.9C23.3,16.7,24,14.4,24,12z M19.3,5.6c-0.7,0.3-1.4,0.6-2.1,0.9C16.7,5,16,3.7,15.2,2.8	C16.8,3.3,18.2,4.3,19.3,5.6z M12.6,11.4l0-3.1c1.3,0,2.6-0.2,3.9-0.5c0.3,1.2,0.5,2.4,0.5,3.6L12.6,11.4z M17,12.5	c0,1.2-0.2,2.4-0.5,3.6c-1.3-0.3-2.6-0.5-3.9-0.5l0-3.1L17,12.5z M11.4,12.6l0,3.1c-1.3,0-2.6,0.2-3.9,0.5c-0.3-1.2-0.5-2.4-0.5-3.6	L11.4,12.6z M7.1,11.5c0-1.2,0.2-2.4,0.5-3.6c1.3,0.3,2.6,0.5,3.9,0.5l0,3.1L7.1,11.5z M15.3,4.9c0.3,0.6,0.6,1.2,0.8,1.9	c-1.2,0.3-2.4,0.4-3.6,0.5l0-4.9C13.5,2.6,14.5,3.5,15.3,4.9z M8.6,4.9c0.8-1.4,1.7-2.3,2.8-2.5l0,4.9c-1.2,0-2.4-0.2-3.6-0.4	C8,6.1,8.3,5.5,8.6,4.9L8.6,4.9z M8.8,2.8C7.9,3.7,7.2,5,6.7,6.5C6,6.3,5.3,6,4.6,5.6C5.7,4.3,7.2,3.4,8.8,2.8L8.8,2.8z M3.9,6.5	c0.8,0.4,1.6,0.8,2.5,1c-0.3,1.3-0.5,2.6-0.5,3.9l-3.6,0C2.4,9.7,2.9,8,3.9,6.5z M2.3,12.6l3.6,0c0,1.3,0.2,2.6,0.5,3.9	c-0.9,0.3-1.7,0.6-2.5,1.1C3,16.1,2.4,14.4,2.3,12.6L2.3,12.6z M4.7,18.4c0.7-0.3,1.4-0.6,2.1-0.9C7.3,19,8,20.3,8.9,21.2	C7.2,20.7,5.8,19.7,4.7,18.4L4.7,18.4z M8.7,19.1c-0.3-0.6-0.6-1.2-0.8-1.9c1.2-0.3,2.4-0.4,3.6-0.5l0,4.8	C10.5,21.4,9.5,20.5,8.7,19.1L8.7,19.1z M15.4,19.1c-0.8,1.4-1.7,2.3-2.8,2.5l0-4.8c1.2,0,2.4,0.2,3.6,0.4	C15.9,17.9,15.7,18.5,15.4,19.1L15.4,19.1z M17.5,7.5c0.9-0.3,1.7-0.6,2.5-1c1,1.5,1.6,3.1,1.7,4.9l-3.7,0	C18,10.1,17.9,8.8,17.5,7.5z M15.2,21.2c0.8-0.9,1.5-2.2,2-3.7c0.7,0.2,1.4,0.5,2.1,0.9C18.3,19.7,16.8,20.6,15.2,21.2L15.2,21.2z	 M20.1,17.4c-0.8-0.4-1.6-0.8-2.5-1c0.3-1.3,0.5-2.6,0.5-3.9l3.6,0C21.6,14.3,21.1,16,20.1,17.4L20.1,17.4z"/></svg>';
	}

	// ハンバーガーメニューアイコン
	@if $name == humb{
		@if $fill == null { $fill: #000; }
		$svg: '<svg id="menu_1" data-name="menu1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.06 38.35"><rect class="cls-1" y="0.35" width="42" height="6" style="fill:#{$fill};"/><rect class="cls-1" y="16.35" width="42" height="6" style="fill:#{$fill};"/><rect class="cls-1" y="32.35" width="42" height="6" style="fill:#{$fill};"/></svg>';
	}

	// メニュークローズアイコン
	@if $name == close{
		@if $fill == null { $fill: #000; }
		$svg: '<svg id="close" data-name="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.94 40" width="39.94" height="40" style="#{$fill}"><path d="M39.94,37.19,37.19,40,19.94,22.74,2.74,40,0,37.19,17.2,20,0,2.81,2.74,0l17.2,17.26L37.19,0l2.75,2.74L22.74,20Z"/></svg>';
	}

	// スライダーアロー
	@if $name == slider-arrow{
		@if $fill == null { $fill: #0e8c5e; }
		$svg: '<svg id="slider-arrow01" data-name="slider-arrow01" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62.95 38.11" width="62.95" height="38.11"><rect id="rect01" data-name="rect01" class="cls-1" y="15.18" width="58.1" height="7.75" rx="1.94" style="fill:#{$fill};" /><path id="pass01" data-name="pass01" class="cls-1" d="M42.53,37.54,39.79,34.8a1.92,1.92,0,0,1,0-2.73l13-13-13-13a1.92,1.92,0,0,1,0-2.73L42.53.57a1.92,1.92,0,0,1,2.73,0L62.38,17.69a1.93,1.93,0,0,1,0,2.74L45.26,37.54A1.92,1.92,0,0,1,42.53,37.54Z" style="fill:#{$fill};"/></svg>';
	}

	// ボタンアローアイコン
	@if $name == btn-arrow{
		@if $fill == null { $fill: #fff; }
		@if $stroke == null { $stroke: #231815; }
		$svg: '<svg id="btn-arrow" data-name="btn-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><g id="g_3663" data-name="g3663"><circle id="btn-circle" data-name="btn-circle" class="cls-1" cx="12" cy="12" r="12" style="fill:#{$fill};"/><path id="path_4371" data-name="path4371" class="cls-2" d="M11,9l3,3-3,3" style="fill:none;stroke:#{$stroke};stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;"/></g></svg>';
	}

	// ガイドアイコン
	@if $name == guide{
		@if $fill == null { $fill: #0e8c5e; }
		$svg: '<svg id="icon-guide" data-name="icon-guide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82.07 13.1" width="82.07" height="13.1"><path class="cls-1" d="M41.2,13.1a1.51,1.51,0,0,1-1.08-.46L30.89,3H1.5a1.5,1.5,0,0,1,0-3h30a1.55,1.55,0,0,1,1.09.46l8.58,9,8.59-9A1.51,1.51,0,0,1,50.87,0h29.7a1.5,1.5,0,0,1,0,3H51.51l-9.23,9.64A1.51,1.51,0,0,1,41.2,13.1Z" style="fill:#{$fill};"/></svg>';
	}

	@return inline-svg($svg);
}
