//------------------------------
// viewport
//------------------------------
$screenSize: 768;
$breakpoint: 768px;

//------------------------------
// contents
//------------------------------
// $headerHeight: 70px;
$contentWidth: 1200px;
$contentWidthPlayer: 900px;

$thumnailWidthRelatedVideoPc: 160px;
$thumnailHeightRelatedVideo: 90px;


//------------------------------
// color
//------------------------------
$colorPrimary: #e6001f;
$colorBg01: #edeae8;

$colorGray01: #707c88;
$colorGray02: #fdf3eb;
$colorGray03: #425464;
$colorGray04: #d9e0e7;

$colorBorder01: #f8e8d9;

$colorOlm: #f36c00;
$colorOlmad: #00bbd3;
$colorTal: #49a942;

$colorTextMain: #212121;
$colorTextLink: #1e3a65;

// $colorTextPrimary: #e;

$colorButtonSpeed01: #FF8A00;
// $colorButtonSpeed02: #ff6d22;

$colorButtonDocument01: #00429a;

$colorNew: #e6001f;

$relatedVideoBgColor01: #cdc6ca;
$videoLabelColor01: #85776D;