@charset "utf-8";
/*--------------------------------------------------
	Brand Color Custom
--------------------------------------------------*/
/* background */
body {
	background-color: #f36c00;
}
/* title */
.p-playerHeader__title {
	color: #425464;
}
.p-playerHeader__subTitle {
	color: #425464;
}
/* player */
.p-playerContainer {
	border:5px solid #425464;
}
/* speed button */
/* .p-playerButtons__item--speed a {
	border:1px solid #ff6d22;
	background-color:#ff6d22;
}
.p-playerButtons__item--speed a:hover {
	background-color:#fff;
	border:1px solid #ff6d22;
	color:#ff6d22;
}
.p-playerButtons__item--speed a.is-normal::before {
	background-image: url(../images/icon_time.png);
}
.p-playerButtons__item--speed a.is-normal:hover::before {
	background-image: url(../images/icon_time_on.png);
}
.p-playerButtons__item--speed a.is-highSpeed::before {
	background-image: url(../images/icon_time_normal.png);
}
.p-playerButtons__item--speed a.is-highSpeed:hover::before {
	background-image: url(../images/icon_time_normal_on.png);
} */
/* document button */
/* .p-playerButtons__item--document a {
	border: 1px solid #425464;
	color: #fff;
	background-color: #425464;
}
.p-playerButtons__item--document a:hover {
	border: 1px solid #425464;
	color: #425464;
	background-color: #fff;
}
.p-playerButtons__item--document a::before {
	background-image: url(../images/icon_document.png);
}
.p-playerButtons__item--document a:hover::before {
	background-image: url(../images/icon_document_on.png);
} */
/* related video */
.p-playerContent__relatedVideo {
	background-color: #fdf3eb;
}