/*-----------------------------------------------
	container
-----------------------------------------------*/
.l-wrapper {
	position: relative;
	@include pc {
		min-width: $contentWidth;
	}
	@include sp {

	}
}
