/*-----------------------------------------------
	footer
-----------------------------------------------*/
.l-footer {
	display: flex;
	width: 100%;
	box-shadow: 0px -1px 5px 1px $colorBorder01;
	@include pc {
		align-items: center;
		min-height: 100px;
	}
	@include sp {
		min-height: 20vw;
		padding-left: 4vw;
    padding-right: 4vw;
	}
	&__inner {
		// height: 100%;
		display: flex;
		@include pc{
			justify-content: space-between;
			align-items: center;
			width: 1200px;
			min-width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
		@include sp{
			flex-direction: column;
			justify-content: center;
			width: 100%;
		}
	}
	&__primary {
		width: 100%;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	&__secondary {
		align-self: flex-end;
		@include sp{
			margin-top: .5em;
		}
	}
	&__copyright {
		color: $colorTextMain;
		line-height: normal;
		@include pc {
			font-size: 14px;
		}
		@include sp {
			font-size: 2.8vw;
		}
	}
	&__materialnumber {
		color: $colorTextMain;
		line-height: normal;
		margin-top: 1em;
		@include pc {
			font-size: 14px;
		}
		@include sp {
			font-size: 3.1vw;
		}

	}
	&__link {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		line-height: normal;
		@include pc {
			gap: 2em;
			font-size: 14px;
		}
		@include sp {
			gap: 1.3em;
			font-size: 3.1vw;
		}
		a {
			color: #0779A8;
			&:hover {
				opacity: .6;
			}
		}
	}
}