/*-----------------------------------------------
	header
-----------------------------------------------*/
.l-header {
	position: relative;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 5px 1px $colorBorder01;
	@include pc {
		height: 96px;
	}
	@include sp {
		height: 17vw;
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include pc {
			width: $contentWidth;
			min-width: $contentWidth;
			margin-left: auto;
			margin-right: auto;
		}
		@include sp {
			width: 92%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__logo {
		img {
			@include pc {
				height: 48px;
			}
			@include sp {
				height: 10vw;
			}
		}
	}
	&__gnav {
	}
}

.p-gnav {
	display: flex;
	justify-content: center;
	align-items: center;
	&__item {
		height: 100%;
		@include pc {
			
		}
		@include sp {
	
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 1em;
		color: $colorGray01;
		@include pc {
			font-size: 16px;
		}
		@include sp {
			font-size: 3vw;
		}
		&:hover {
			color: $colorPrimary;
		}
		&.is-current {
			color: $colorPrimary;
			cursor: default;
		}
		&--list {
			&::before {
				content: "";
				display: block;
				background-image: url("../images/ico_list_1.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				width: 1.5em;
				height: 1.5em;
				margin-right: .5em;
				@include pc {

				}
				@include sp {
			
				}
			}
			&:hover {
				&::before {
					background-image: url("../images/ico_list_2.png");
				}
			}
			&.is-current {
				&::before {
					background-image: url("../images/ico_list_2.png");
				}
			}
		}
		&--mylist {
			&::before {
				content: "";
				display: block;
				background-image: url("../images/ico_mylist_1.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				width: 1.5em;
				height: 1.5em;
				margin-right: .5em;
				@include pc {

				}
				@include sp {
			
				}
			}
			&:hover {
				&::before {
					background-image: url("../images/ico_mylist_2.png");
				}
			}
			&.is-current {
				&::before {
					background-image: url("../images/ico_mylist_2.png");
				}
			}
		}
	}
}