<% if (page.mode && page.mode === 'demo') { %>
<div class="p-player">
	<div class="p-player__header">
	<%- include('../../_partial/_player_header', { page: page }) %>
	</div>
	<div class="p-player__main">
	<%- include('../../_partial/_player_contents', { page: page }) %>
	</div>
	<div class="p-player__footer">
	<%- include('../../_partial/_player_footer', { page: page }) %>
	</div>
</div>
<% } else { %>
<div class="p-player">
	<div class="p-player__header">
	<%- include('../../_partial/_player_header', { page: page }) %>
	</div>
	<div class="p-player__main">
	<%- include('../../_partial/_player_contents', { page: page }) %>
	</div>
	<div class="p-player__footer">
	<%- include('../../_partial/_player_footer', { page: page }) %>
	</div>
</div>
<% } %>