/*-----------------------------------------------
	filter tag list
-----------------------------------------------*/
.p-filterTag {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 2px $colorBorder01;
	&__header {
		@include pc {
			display: none;
		}
		@include sp {
			padding: 5vw 5vw;
			cursor: pointer;
		}
	}
	&__inner {
		@include pc {

		}
		@include sp {
			position: relative;
		}
	}
	&__title {
		@include pc {
		}
		@include sp {
			font-size: 4.2vw;
			text-align: center;
		}
	}
	&__arrow {
		@include pc {
		}
		@include sp {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: -1.5vw;
			right: 0;
			width: 7vw;
			height: 7vw;
			background-color: $colorPrimary;
			border-radius: 50%;
		}
		&::after {
			@include pc{

			}
			@include sp{
				content: "";
				display: block;
				width: 50%;
				height: 50%;
				margin-top: .5vw;
				background: no-repeat center center / contain;
				background-image: get-svg-icon(arrow-b01, #fff);
			}
		}
	}
	&__body {
		@include pc {

		}
		@include sp {
			height: 0;
			padding: 0;
			opacity: 0;
			visibility: hidden;
			transition: opacity .5s;
		}
	}
	&.is-active &__header &__arrow {
		&::after {
			@include pc{

			}
			@include sp{
				margin-top: -.5vw;
				background-image: get-svg-icon(arrow-t01, #fff);
			}
		}
	}
	&.is-active &__body {
		@include pc {

		}
		@include sp {
			height: auto;
			padding: 6vw 4vw 5vw;
			border-top: 1px solid $colorGray04;
			opacity: 1;
			visibility: visible;
		}
	}
}

.p-filterTagList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	@include pc{
		padding: 20px 48px;
	}
	@include sp{
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border: 1px solid $colorGray01;
		border-radius: 5px;
		color: $colorGray01;
		cursor: pointer;
		@include pc{
			margin: 5px 4px;
			padding: .5em 1em;
			height: 30px;
			font-size: 13px;
		}
		@include sp{
			height: 2.7em;
			padding: 1vw 1vw;
			margin: 1.2vw 1vw;
			font-size: 3.2vw;
		}
		&:first-child {
			@include pc{
				width: 130px;
			}
			@include sp{
				width: 100%;
				min-height: 3em;
				margin-top: 0;
				margin-bottom: 2vw;
				font-size: 4vw;
			}
		}
		& + & {
			@include pc{

			}
			@include sp{
	
			}
		}
		&.is-selected {
			background-color: $colorPrimary;
			border-color: $colorPrimary;
			color: #fff;
			cursor: default;
		}
	}
}