/*-----------------------------------------------
	player block
-----------------------------------------------*/
.p-player {
	&__header {
		border-bottom: 1px solid #ccc;
		@include pc {
			padding: 16px 20px;;
		}
		@include sp {
			padding: 2.5vw;
		}
	}
	&__main {
		@include pc {

		}
		@include sp {

		}
	}
	&__footer {
		border-top: 1px solid #ccc;
		@include pc {
			padding: 24px 20px;
		}
		@include sp {
			padding: 4vw 2.5vw;
		}
	}
}

.p-playerHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	&__title {
		width: 70%;
		font-weight: bold;
		line-height: 1.7;
		color: $colorGray03;
		@include pc {
			font-size: 20px;
		}
		@include sp {
			font-size: 3.4vw;
		}
		&--main {
			display: block;
			font-size: 1.3em;
		}
		&--sub {
			display: block;
			font-size: 1em;
			line-height: 1.2;
			@include pc {

			}
			@include sp {

			}
		}
	}
	&__brandLogo {
		@include pc {
			margin-left: 10px;
		}
		@include sp {

		}
		img {
			@include pc {
				height: 50px;
			}
			@include sp {
				height: 6.6vw;
			}
		}
	}
}

.p-playerContent {
	&__player {
		@include pc {
			padding: 20px 20px 20px 20px;
		}
		@include sp {
			padding: 4vw 2.5vw 2.5vw;
		}
		img{
			width: 100%;
		}
	}
	&__relatedVideo {
		display: none;
		background-color: $colorGray02;
		width: 100%;
		@include pc {

		}
		@include sp {
			margin-top: 5vw;
		}
	}
}

.p-playerContainer {
	position: relative;
	border: 5px solid $colorGray03;
	&::after {
		content: "";
		display: block;
		width: 100%;
		padding-bottom: 56.25%;
	}
	&__player {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.p-playerBottom {
	@include pc {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 30px;
	}
	@include sp {
		margin-top: 4vw;
	}
	&__item {
		&:nth-child(1) {
			@include pc {
				width: 370px;
			}
			@include sp {
			}
			[data-page-type=pdf] &{
				@include pc {
					width: 280px;
				}
			}
		}
		&:nth-child(2) {
			@include pc {
			}
			@include sp {
			}
		}
	}
}

.p-playerDetail {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@include pc {
		margin-top: 5px;
	}
	@include sp {
		margin-top: 5vw;
	}
	&__item {

	}
}

.p-videoInfo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: $colorGray01;
	@include pc {

	}
	@include sp {

	}
	&__time {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@include pc {
			font-size: 15px;
			margin-right: 10px;
		}
		@include sp {
			font-size: 3.2vw;
			margin-right: 1em;
		}
		&::before {
			content: "";
			display: block;
			background-image: url("../images/ico_clock.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			@include pc {
				width: 1em;
				height: 1em;
				margin-right: .3em;
			}
			@include sp {
				width: 1em;
				height: 1em;
				margin-right: .3em;
			}
		}
	}
	&__expired {
		border: 1px solid $colorGray01;
		border-radius: 10px;
		@include pc {
			padding: .25em .5em;
			margin-right: 2px;
			font-size: 11px;
		}
		@include sp {
			padding: .2em 1em;
			margin-right: .5em;
			font-size: 2.5vw;
		}
	}
	&__date {
		@include pc {
			font-size: 15px;
		}
		@include sp {
			font-size: 3.2vw;
		}
	}
}

.p-videoLabelList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include pc {
		margin-top: 12px;
	}
	@include sp {
		margin-top: 3vw;
	}
	&__item {
		background-color: $colorGray01;
		border: 1px solid $colorGray01;
		border-radius: 3px;
		color: #fff;
		text-align: center;
		@include pc {
			padding: .25em 1em;
			font-size: 12px;
		}
		@include sp {
			padding: .2em 1em;
			font-size: 3vw;
		}
		&:first-child{
			// background-color: $colorLilly;
		}
		& + & {
			@include pc {
				// min-width: 100px;
				margin-left: .5em;
			}
			@include sp {
				// min-width: 18.8vw;
				margin-left: .5em;
			}
		}
		&--olm {
			background-color: $colorOlm;
			border-color: $colorOlm;
			color: #fff;
		}
		&--olmad {
			background-color: $colorOlmad;
			border-color: $colorOlmad;
			color: #fff;
		}
		&--tal {
			background-color: $colorTal;
			border-color: $colorTal;
			color: #fff;
		}
	}
}

.p-playerCheckButton {
		background-color: $colorGray01;
		border: 1px solid $colorGray01;
		border-radius: 3px;
		color: #fff;
		text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	transition: opacity .2s;
	@include pc {
		width: 48px;
		height: 48px;
	}
	@include sp {
		width: 10vw;
		height: 10vw;
	}
	&:hover {
		opacity: .6;
	}
	&.is-active {
		background-image: url("../../common_ed/images/btn_mylist_ed.png");
	}
}

.p-playerButtons {
	@include pc {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@include sp {
		margin-top: 5vw;
	}
	&__item {
		@include pc {

		}
		@include sp {

		}
		& + & {
			@include pc {
				margin-left: 10px;
			}
			@include sp {
				margin-top: 2.2vw;
			}
		}
		a {
			display: flex;
			align-items: center;
			border-radius: 5px;
			color: #fff;
			line-height: 1.5;
			@include pc {
				justify-content: center;
				width: 230px;
				height: 60px;
				padding: 5px 10px;
				font-size: 16px;
			}
			@include sp {
				justify-content: flex-start;
				width: 100%;
				height: 17vw;
				padding: 1vw 6vw;
				font-size: 4.5vw;
			}
		}
		&--speed {
			a {
				background-color: $colorButtonSpeed01;
				border: 1px solid $colorButtonSpeed01;
				&::before {
					content: "";
					display: block;
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					@include pc {
						width: 32px;
						height: 32px;
						margin-right: 10px;
					}
					@include sp {
						width: 2em;
						height: 100%;
						margin-right: .5em;
					}
				}
				&:hover {
					background-color:#fff;
					border: 1px solid $colorButtonSpeed01;
					color: $colorButtonSpeed01;
				}
				&.is-normal {
					&::before {
						background-image: url("../images/ico_time_high.png");
					}
				}
				&.is-normal:hover {
					&::before {
						background-image: url("../images/ico_time_high_on.png");
					}
				}
				&.is-highSpeed {
					&::before {
						background-image: url("../images/ico_time_normal.png");
					}
				}
				&.is-highSpeed:hover {
					&::before {
						background-image: url("../images/ico_time_normal_on.png");
					}
				}
			}
		}
		&--document {
			a {
				background-color: $colorButtonDocument02;
				border: 1px solid $colorButtonDocument02;
				&::before {
					content: "";
					display: block;
					background-image: url("../images/ico_document.png");
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					@include pc {
						margin-right: 5px;
						margin-left: -5px;
						width: 32px;
						height: 32px;
					}
					@include sp {
						width: 2em;
						height: 100%;
						margin-right: .5em;
					}
				}
				&:hover {
					background-color:#fff;
					border: 1px solid $colorButtonDocument02;
					color: $colorButtonDocument02;
					&::before {
						background-image: url("../images/ico_document_on.png");
					}
				}
			}
		}
		&--displayPdf {
			a {
				background-color: $colorButtonSpeed01;
				border: 1px solid $colorButtonSpeed01;
				&:hover {
					background-color:#fff;
					border: 1px solid $colorButtonSpeed01;
					color: $colorButtonSpeed01;
				}
			}
		}
		&--downloadPdf {
			a {
				background-color: $colorButtonDocument02;
				border: 1px solid $colorButtonDocument02;
				&:hover {
					background-color:#fff;
					border: 1px solid $colorButtonDocument02;
					color: $colorButtonDocument02;
				}
			}
		}
	}
}

.p-playerFooter {
	@include pc {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	@include sp {
		position: relative;
		min-height: 18vw;
	}
	&__logo {
		@include pc {

		}
		@include sp {
			position: absolute;
			bottom: 0;
			left: 0;
		}
		img {
			@include pc {
				height: 50px;
			}
			@include sp {
				height: 8vw;
			}
		}
	}
	&__flashBanner {
		@include pc {
			margin-left: 20px;
		}
		@include sp {
			position: absolute;
			top: 0;
			left: 0;
			width: 22vw;
		}
	}
	&__flashText {
		@include pc {

		}
		@include sp {
			position: absolute;
			top: .5vw;
			left: 24vw;
			width: 50vw;
		}
	}
	&__copyright {
		@include pc {
			align-self: flex-end;
			margin-left: auto;
			font-size: 10px;
		}
		@include sp {
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: 2.6vw;
		}
	}
}