/*-----------------------------------------------
	related video list
-----------------------------------------------*/
.p-playerRelatedVideo {
	@include pc {
		padding: 20px 30px;
	}
	@include sp {
		padding: 6vw 3vw 3.5vw;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@include pc {

		}
		@include sp {

		}
	}
	&__title {
		@include pc {
			font-size: 20px;
		}
		@include sp {
			font-size: 4.5vw;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-radius: 5px;
		color: $colorTextLink;
		transition: opacity .2s;
		@include pc {
			padding: .25em 1em;
			font-size: 14px;
		}
		@include sp {
			padding: .2em .8em;
			font-size: 3vw;
		}
		&::before {
			content: "";
			display: block;
			background-image: url("../images/ico_list_4.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 1.5em;
			height: 1.5em;
			margin-right: .5em;
		}
		&:hover {
			opacity: .6;
		}
	}
	&__list {
		@include pc {
			margin-top: 10px;
		}
		@include sp {
			padding: 5vw 0 0;
		}
	}
}

.p-relatedVideoList {
	width: 100%;
	&.is-demo {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	@include pc {

	}
	@include sp {

	}
	&__item {

	}
	&.slick-slider {
		position: relative;
		.slick-track {
			margin-left: 0;
			margin-right: 0;
		}
		.slick-arrow-custom {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $colorGray01;
			border-radius: 50%;
			cursor: pointer;
			z-index: 1;
			@include pc{
				top: calc(#{$thumnailHeightRelatedVideo} / 2);
				width: 30px;
				height: 30px;
			}
			@include sp{
				top: calc(38vw * 0.5625 / 2);
				width: 6.5vw;
				height: 6.5vw;
			}
			&:hover {
			}
			&::before{
				content: "";
				display: block;
				background-image: get-svg-icon(kv-arrow-r01, #fff);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				@include pc{
					width: 17px;
					height: 17px;
				}
				@include sp{
					width: 3.5vw;
					height: 3.5vw;
				}
			}
			&.slick-disabled {
				cursor: default;
			}
		}
		.slick-prev-custom {
			left: 0;
			transform: translate(-40%, -50%);
			&::before{
				transform: rotateY(-180deg);
				@include pc{

				}
				@include sp{
					margin-right: .8vw;
				}
			}
		}
		.slick-next-custom {
			right: 0;
			transform: translate(30%, -50%);
			&::before{
				@include pc{

				}
				@include sp{
					margin-left: .5vw;
				}
			}
		}
	}
}

.p-relatedVideoItem {
	@include pc {
		width: 160px;
		font-size: 14px;
	}
	@include sp {
		width: 43vw;
		margin-left: auto;
		margin-right: auto;
		font-size: 3vw;
	}
	&__link {
		display: block;
		transition: opacity .2s;
		&:hover {
			opacity: .6;
		}
	}
	&__thumb {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		img {
			max-width: 100%;
			max-height: 100%;
			flex-basis: 100%;
		}
		@include pc {
			height: 90px;
		}
		@include sp {
			height: calc(38vw * 0.5625);
		}
		&.is-new {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-color: $colorNew transparent transparent transparent;
				@include pc {
					border-width: 34px 34px 0 0;
				}
				@include sp {
					border-width: 8vw 8vw 0 0;
				}
			}
			&::after {
				content: "NEW";
				position: absolute;
				color: #fff;
				font-weight: bold;
				text-align: center;
				transform: rotate(-45deg);
				z-index: 2;
				@include pc {
					top: 6px;
					left: 0px;
					font-size: 10px;
					line-height: 1.2;
				}
				@include sp {
					top: .8em;
					left: 0px;
					font-size: 2.2vw;
					line-height: 1.2;
				}
			}
			@include pc {

			}
			@include sp {

			}
		}
	}
	&__title {
		height: 3em;
		color: $colorTextMain;
		font-weight: bold;
		line-height: 1.5;
		overflow: hidden;
		@include pc {
			margin-top: 6px;
			font-size: 1em;
		}
		@include sp {
			margin-top: 1.5vw;
			font-size: 1em;
		}
	}
	&__detail {
		position: relative;
		@include pc {

		}
		@include sp {
			padding-top: 1.5vw;
		}
	}
	&__info {
		@include pc {
			margin-top: 5px;
		}
		@include sp {

		}
	}
	&__labelList {
		@include pc {
			margin-top: 5px;
		}
		@include sp {
			margin-top: 1.5vw;
		}
	}
	&__checkButton {
		position: absolute;
		background-image: url("../../common_ed/images/ico_check_1.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		transition: opacity .2s;
		@include pc {
			top: 0;
			right: 0;
			margin-top: -2px;
			width: 16px;
			height: 16px;
		}
		@include sp {
			top: 0;
			right: 0;
			width: 5vw;
			height: 5vw;
		}
		&:hover {
			opacity: .6;
		}
		&.is-active {
			background-image: url("../../common_ed/images/ico_check_2.png");
		}
		.relative__checkButton--hidden  &{
			display: none !important;
		}
	}
}

.p-relatedVideoInfo {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	color: $colorGray03;
	@include pc {
		min-height: 45px;
	}
	@include sp {
		min-height: 10vw;
		margin-bottom: .5em;
	}
	&__time,
	&__pdf,
	&__web,
	&__link{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		@include pc{
			min-height: 19px;
			margin-bottom: 5px;
		}
		@include sp {
			width: 100%;
			height: 4.2vw;
			margin-bottom: get-vw(9);
		}
		span{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			@include pc {
				width: 48px;
				height: 18px;
				font-size: 10px;
				padding: 4px 11px 2px;
				border-radius: 8px;
			}
			@include sp {
				height: 100%;
				@include font-vw(19.6);
				padding: .2em 1em;
				border-radius: get-vw(10);
				line-height: 1;
			}
		}
	}
	&__pdf,
	&__web,
	&__link,
	&__time{
		span{
			background-color: transparent;
			color: #d54927;
			border: 1px solid #d54927;
		}
	}
	// &__pdf{
	// 	span{
	// 		background-color: #d54927;
	// 		color: #fff;
	// 		border: 1px solid #d54927;
	// 	}
	// }
	// &__link{
	// 	span{
	// 		color: #d54927;
	// 		border: 1px solid #d54927;
	// 	}
	// }
	&__time {
		@include pc {
			font-size: .7em;
		}
		@include sp {
			font-size: .8em;
		}
		span, div{
			display: flex;
			justify-content: center;
		}
		div{
			@include pc{
				position: relative;
				padding-left: 1.5em;
			}
			@include sp{
				display: flex;
				align-items: center;
				@include font-vw(19.5);
			}
			&::before {
				content: "";
				display: block;
				background-image: url("../images/ico_clock.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				@include pc {
					width: 1.3em;
					height: 1.3em;
					margin-right: 2px;
					position: absolute;
					left: 0;
					top: -0.2em;
				}
				@include sp {
					width: get-vw(24);
					height: get-vw(24);
					margin-right: 2px;
				}
			}
		}
		span{
			@include pc{
				margin-left: 1px;
				margin-right: 8px;
			}
			@include sp{
				margin-right: .5em;
			}
		}
	}
	&__expired {
		border: 1px solid $colorGray01;
		border-radius: 10px;
		@include pc {
			padding: .25em .5em;
			font-size: .6em;
			margin-right: 6px;
			margin-bottom: 5px;
		}
		@include sp {
			padding: .25em .8em;
			@include font-vw(16);
			margin-right: .2em;
			margin-bottom: .2em;
		}
	}
	&__date {
		@include pc {
			font-size: .7em;
			margin-top: 4px;
		}
		@include sp {
			// font-size: .8em;
			@include font-vw(20);
			// margin-top: .3em;
			align-self: center;
		}
	}
}

.p-relatedVideoLabelList {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	@include pc {

	}
	@include sp {

	}
	&__item {
		border-radius: 3px;
		@include pc {
			padding: .2em .3em;
			font-size: 8px;
		}
		@include sp {
			padding: .4em .4em;
			font-size: 2.5vw;
		}
		&:nth-of-type(1) {
			background-color: $videoLabelColor01;
			border: 1px solid $videoLabelColor01;
			color: #fff;
		}
		&:nth-of-type(2) {
			background-color: rgba(#fff, 1);
			border: 1px solid $videoLabelColor01;
			color: $videoLabelColor01;
		}

		& + & {
			// padding: .3em 1.7em;
			@include pc {
				margin-left: 5px;
			}
			@include sp {
				margin-left: .5em;
			}
		}
		// &--olm {
		// 	background-color: $colorOlm;
		// 	border-color: $colorOlm;
		// 	color: #fff;
		// }
		// &--olmad {
		// 	background-color: $colorOlmad;
		// 	border-color: $colorOlmad;
		// 	color: #fff;
		// }
		// &--tal {
		// 	background-color: $colorTal;
		// 	border-color: $colorTal;
		// 	color: #fff;
		// }
	}
}