<%
// page data
const page = {
	mode: 'demo',
	id: 'player_olm',
	// category: '',
	// type: '',
	title: '動画視聴ページ',
	// categoryTitle: '',
	description: '',
	// discTemplate: '',
	// discTemplatePrefix: '',
	keywords: '',
	// breadcrumb: [],
	basePath: '../../../',
};
%> 
<!DOCTYPE html>
<html lang="ja">
<%- include('../../../../_include/_foundation/_head', { page: page }) %>
<% if (page.id == "player_olm") { %>
<body class="theme-olm">
<% } else { %>
<body class="theme-tal">
<% } %>
<!-- <body> -->
	<div class="l-wrapper">
		<%- include('../../../../_include/_layout/_movie/_header', { page: page }) %>
		<%- include('../../../../_include/_layout/_movie/_main', { page: page }) %>
		<%- include('../../../../_include/_layout/_movie/_footer', { page: page }) %>
	</div>
</body>
</html>